<div class="container container-fluid">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators" >
          <li *ngFor="let item of photoSource; let i = index" [ngClass]="{'active': i==indexs}" (click)="changeImage(i)"></li>>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid" src="{{photoscr}}" alt="image">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" (click)="previousImage()" >
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" (click)="nextImage()">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>
</div>
