<br>
<div class="card text-center">
  <div class="card-header bg-danger text-white"><h2>Our Achivement</h2></div>
  <div class="card-body">
    <div class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
              <div class="float-left col-md-3">
              <img src="https://www.w3schools.com/bootstrap4/la.jpg" class="img-fluid img-thumbnail bg-danger" alt="...">
              </div>
              <div class="float-right col-md-9 text-justify">
                <h5 class="text-primary">Center-aligned media</h5>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
