<br>
<div class="card">
  <div class="card-header text-center bg-danger text-white"><h2>Our Community</h2></div>
    <div class="card-body ">
      <div class="card-deck justify-content-center">
        <div class="card col-md-3 bg-transparent border-none text-center ">
          <div class="float-center">
            <img src="https://www.w3schools.com/bootstrap4/la.jpg" class="card-img-top img-fluid img-thumbnail rounded-circle bg-danger" alt="...">
          </div>
          <div class="card-footer bg-transparent">
            <h5 class="text-danger">Manager</h5>
            <h6 class="text-primary">Prabeen Soti</h6>
          </div>
        </div>
    </div>
  </div>
</div>
