<br>
<div class="card">
  <div class="card-header text-center bg-danger text-white"><h2>Voice About Us</h2></div>
  <div class="card-body ">
    <div id="loop">
      <div class="float-left col-md-3">
        <img src="https://www.w3schools.com/bootstrap4/la.jpg" class="img-fluid img-thumbnail rounded-circle bg-danger" alt="...">
      </div>
      <div class="float-right col-md-9 text-justify">
        <h5 class="text-primary">Center-aligned media</h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div>
</div>
